{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock title %}

{% block meta %}
 <meta name="description" content="{{ article.summary|striptags|escape }}" />
{% endblock meta %}

{% block main %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <article class="card">
      <div class="card-body">
        <h2 class="card-title">
          {{ article.title }}
        </h2>

        <time
            datetime="{{ article.date.isoformat() }}"
            class="card-subtitle mb-2 text-muted">{{ article.locale_date }}</time>

        <p class="card-text">
          {{ article.content }}
        </p>
      </div>
    </article>
  </div>
</div>
{% endblock main %}