@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

a {
  font-family: 'Nunito', sans-serif;
  color: white;
}

a:hover {
  font-family: 'Nunito', sans-serif;
  color: #FC4A1A;
  text-decoration: none
}

body {
  background-color: #131313;
  font-family: 'Nunito', sans-serif;
  color: white;
}

h2 {
  font-family: Nunito;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-top: 34px;
  text-decoration: none;
}

h3 {
  font-family: Nunito;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-top: 34px;
  text-decoration: none;
}

h2 > a, h3 > a {
  text-decoration: none;
}

h2 > a:hover, h3 > a:hover {
  text-decoration: underline;
}

h5 {
  color: #FFFFFF;
}

hr {
  border: 1px solid #FFFFFF;
}

label {
  color: #FFFFFF;
}

p > a {
  color: #FC4A1A;
}

p, li {
  color: #FFFFFF;
  font-size: 1.2em;
}

p > img {
  margin-top: 10px;
  border: 5px solid white;
  border-radius: 10px;
}

small {
  color: #FFFFFF;
}

.navbar-dark {
  background-color: #131313;
  box-shadow: 0px 4px 16px -1px rgba(1, 1, 1, 0.3);
  padding: 10px;
}

.btn {
  border-radius: 28px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-size: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-primary {
  background: #FC4A1A;
  border-color: #FC4A1A;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: #fc643c;
  border-color: #fc643c;
}

.btn-secondary {
  background: #2E2E2E;
  border-color: #2E2E2E;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: #3f3f3f;
  border-color: #3f3f3f;
}

.card {
  background-color: #131313;
}

.card-nft-img {
  border: 0.7px solid #FFFFFF;
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius: 10px;
}

.card-nft-title {
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.hero-card-img, .card-hero {
  border-radius: 10px;
}

.hero-card-img-overlay {
  background: linear-gradient(90deg, #000000 0.69%, rgba(0, 0, 0, 0) 50%);
  border-radius: 10px;
}

.hero-card-title {
  font-family: Nunito;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-tabs {
  border-bottom: 1px solid #FFFFFF;
  background-color: #131313;
}

.nav-tabs .nav-link.active {
  background-color: #131313;
  border: none;
  border-bottom: 3px solid #FC4A1A;
  color: #ffffff;
}

.nav-tabs .nav-link.active:hover {
  background-color: #131313;
  border: none;
  border-bottom: 3px solid #FC4A1A;
  color: #ffffff;
}

.nav-tabs .nav-link {
  background-color: #131313;
  border: none;
  color: #ffffff;
}

.nav-tabs .nav-link:hover {
  background-color: #131313;
  border: none;
  color: #FC4A1A;
}

@media only screen and (max-width: 1000px) {
  .card-nft-title {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }

  .hero-card-title {
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }

  .navbar-brand > h2 {
    font-size: 2rem;
  }
}

.Vue-Toastification__toast--success.kupon-toast-class {
  background-color: #FC4A1A;
}

@media only screen and (max-width: 575px) {
   h2 {
    font-size: 1.5rem;
    margin-top: 0px;
  }

  .btn {
    border-radius: 28px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }

  .card-nft-title {
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  .card-nft-img {
    border: 0.7px solid #FFFFFF;
    width: 100%;
    height: 80vw;
    object-fit: cover;
    border-radius: 10px;
  }

  .hero-card-title {
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media only screen and (max-width: 448px) {
  .navbar-brand > h2 > span {
    display: none;
  }
}

@media only screen and (max-width: 325px) {
  .btn {
    border-radius: 28px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 0.8rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .hero-card-title {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }
}